.header{
    background-color:white;
    position: absolute;
    width:100%;
    top: 0;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin: 0%;
    }
    
    
    .logoimg{
        height: 40px;
        width: 110px;
        margin-left: 10px;
        border-radius: 5px;
        margin-right: 5px;
        
    }
    h2{
        padding-left: 10px;
        
    }
    .img-article1{
        margin-left: 180px;
        border-radius: 10px;
        width: 70%;
        margin-top: 70px;
    }
    .body-division{
        font-size: 20px;
        /* padding: 30px; */
        width:100% ;
        background-color: #E1F2F7;
        
    }
    .body-division p{
        font-size: 17px;
    }
    h1{
        padding-left: 60px;
        color: black;
    }
    h5{
        padding-left: 60px;
        color: rgb(206, 206, 206);
    }
    p{
        padding-left: 60px;
        font-size:20px;
        color: gray;
    }
    li{
        color: gray;
    }