/* mainpage */
/* navbar */
#navbar{
    height:40px;
    width: 100%;
    background-color:white;
    display:flex;
    
}
#logoimg{
    display: flex;
    height: 40px;
    width: 110px;
    padding-left: 50px;
}
#menu  {
    display: flex;
    flex-direction: row;
   

}
#menulist{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 600px;
    align-items: center;

}
#menulist li{
    padding-left: 20px;
    font-size: 14px;
}
#menulist li a{
    text-decoration: none;
    color: black;
}

/* title */
#title{
    width: 100%;
    height: 550px;
    background-color: #E1F2F7;
   position: relative;
}
#titleimg{
    width: 100%;
    height: 500px;
    background-color: #E1F2F7;
    position: relative;;
    padding-top: 50px;
    z-index: -1;

    
}
#content {
   position: absolute;
   padding-left: 480px;
   text-align: center;
   
}
#content h1{
    margin-top: -500px;
    font-size: 40px;
    
}
#content button{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: #EF0D50;
    color: white;
    border: #EF0D50;
    
}
#searchbarbtn{
    width: 850px;
    height: 110px;
    background-color: black;
    align-items: center;
    margin-left: 190px;
    margin-top: -65px;
    border-radius: 60px;
    position: absolute;
}
#input{
    height: 30px;
    margin-top: 40px;
    margin-left: 10px;
    background-color: black;
    border: none;
    font-size: 14px;
}
#btn5,#btn4,#btn3{
    margin-left: 80px;
    background-color:black;
    color: white;
    border: none;
}
.fa-magnifying-glass{
    color: white;
    margin-left: 20px;
    margin-top: 25px;
}
#services{
    width: 100%;
    height: 550px;
    /* position: relative; */
}
h2{
    margin-top: 60px;
    text-align: center;
}
#servicelist1{
    display: flex;
    flex-direction:row;
}
#listcontent1{
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-top: -62px;
}
#pawheart{
    font-size: 45px;
    margin-left: 100px;
    margin-top: 20px;
    color: #EF0D50;
}
#p2{
    font-size: 14px;
    color: #6E6E73;
    margin-top: -10px;
}
#p1{
    font-size:16px ;
    font-weight: bold;
}
#listcontent2{
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-top:-70px;
}
#listcontent3{
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-top:-60px;
}
#listcontent4{
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-top:-70px;
}
#listcontent5{
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-top:-70px;
}
#shelter{
    font-size: 45px;
    margin-left: 100px;
    margin-top: 20px;
}
#training{
    font-size: 45px;
    margin-left: 100px;
    margin-top: 20px;
}
#grooming{
    font-size: 45px;
    margin-left: 100px;
    margin-top: 20px;
}
#walking{
    font-size: 45px;
    margin-left: 100px;
    margin-top: 20px;
}
#servicesimg{
    display: flex;
    flex-direction: row;
    margin-left: 600px;
    margin-top: -510px;
    
}
#testimonials{
    width: 100%;
    height: 600px;
    background-color: #E1F2F7;
}
#testimonial-image{
    margin-top: 100px;
    margin-left: 200px;
    height: 400px;
    border-radius: 15px;
    box-shadow:  2px #6E6E73;
}
#testimonials-content{
    width: 250px;
    height: 180px;
    background-color: #E1F2F7;
   border: 2px solid #6E6E73 ;
    border-radius: 20px;
    margin-top: -570px;
    margin-left: 700px;
    position: absolute;

}
#testimonials-content p{
    margin-left: 40px;
    margin-top: 26px;
}
#tp1{
    font-weight: bold;
}
#tp2{
    font-weight: bold;
    color: #EF0D50;
}
#previous{
    font-size: 30px;
    margin-top: 280px;
    margin-left: 80px;
    position: absolute;
    
}
#next{
    font-size: 30px;
    margin-top: -320px;
    margin-left: 1130px;
    position: absolute;
}
#Shelters{
    background-color: #E1F2F7;
    width: 100%;
    height: 350px;
    margin-top: -100px;
}
#shelterimg img{
    width: 180px;
    height: 180px;
    padding-left: 14%;
    
}
#mainarticle{
    width: 100%;
    height:600px;
    background-color: #E1F2F7;
    margin-top: -10px;

}
#Articles{
    
    display: flex;
     flex-direction: row;
}
#article{
    border-radius: 5px;
     margin-top: 70px;
     margin-left: 75px;
     margin-right: 20px;
     height: 450px;
     width: 300px;
     background-color:white;
     
 }
 .article1{
     border-radius: 5px;
     width: 300px;
     height: 250px;
     
 }
 h3 a{
     color: black;
 }
 .pet-detail{
     padding: 15px;
     
 }
 .article-link{
     font-size: 25px;
     line-height: 1.5;
 }
 #footermenu{
    width: 100%;
    height: 220px;
    background-color: white;
    margin-top: 20px;
 }
 #mainmenu{
    display: flex;
    flex-direction: row;

 }
 #menu1 ul li{
    list-style: none;
    color: #6E6E73;
    padding-left: 60px;

 }
 #menu2 ul li{
    list-style: none;
    color: #6E6E73;
    padding-left: 200px;

 }
 #menu3 ul li{
    list-style: none;
    color: #6E6E73;
    padding-left: 210px;

 }
 #footer{
    width: 100%;
    height: 40px;
    background-color: #E1F2F7;
    align-items: center;
 }
 #footer p{
   padding-top: 12px;
   padding-left: 550px;
 }
 














/* body{
    width:200%;
} */

/* #title{
    background-color:#E1F2F7;
    color:black;
    width: 100%;
}
.logoimg{
    height: 30px;
    width: 50px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
.navbar{
    height: 57px;
    background-color: white;
    display: flex;
    flex-direction: row;
    
}
.navbar a{
    text-decoration: none;
    color: #EF0D50;
    
    
}
.navbar a:hover{
    color: #E5BACE;
}
.navbar-brand{
    padding-top: 8px;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding-left: 500px;

}
body{
    font-family: 'Montserrat-black', sans-serif;
}
.container-fluid{
    padding: 3% 15% 7%;

}
.navbar{
    padding: 0 0 4.5rem;
    font-size: 18px;
}
.row{
    display: flex;
    flex-direction: row;
}
.title-dog{
    padding-left: 200px;
}
.title-image{
    width: 350px;
    height: 450px;
    /* transform: rotate(20deg); */
    /* position:relative;
    right: 30%;
    margin-top: 0px;
    padding-top: 60px;
    padding-left: 200px;
   
} */
     */



/* h1{
    font-family: 'Montserrat-bold', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bold;
   
}
h2{
    font-family:'Montserrat-bold', sans-serif ;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}
h3{
    font-family:'Montserrat-bold', sans-serif ;
    font-weight: bold;
    
}
p{
    color: gray;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2rem;
    font-weight: bold;
}
.nav-item{
    padding:0 18px ;
}
.nav-link{
    font-size: 1.4rem;
    font-family: 'montserrat';
}
.btn{
    margin: 5% 3% 5% 0;
    height: 40px;
    width: 120px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    background-color: #EF0D50;
    color: white;
}
.btn:hover{
    background-color:#E5BACE ;
    color: black;
    border: none;
}
#features{
    /* padding: 7% 15%; */
    /* background-color: white;
    position: relative;
    /* z-index: 1; */
    
/* }
.feature-box{
    text-align: center;
    padding: 5%;
}
.feature{
    color:#EF0D50;
    margin-bottom: 1rem;
    font-size: 50px;
}
.feature:hover{
    color:#E1F2F7;}
#testimonials{
    
    text-align:center;
    background-color:#E1F2F7;
    color: black;
}
.testimonial-image{
    width: 30%;
    border-radius: 50%;
    margin: 20px;

}
.slide{
    display: flex;
    font-size: 32px;
}
.itemactive{
    padding: 30px;
}
.itemactive p{
    color: black; 
} */ 
 /* #testimonials .slide{
    position: relative;
    width: 100%;
    height: 500px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    

}
#testimonials .slide::-webkit-scrollbar{
    display: none;
}
#testimonials .slide .itemactive{
    position: relative;
}  */

 /* #press{
    background-color:#E1F2F7;
     text-align: center;
    padding-bottom: 3%;
    
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
h4{
    color: black;
}
.carousel-indicators{
    margin-top: 10%;
}
.articles{
   border-radius: 5px;
    margin-top: 40px;
    margin-left: 22px;
    margin-right: 50px;
    height: 500px;
    width: 350px;
    background-color: #E1F2F7;
}
.article1{
    border-radius: 5px;
    width: 350px;
    height: 300px;
    
}
h3 a{
    color: black;
}
.pet-detail{
    padding: 15px;
    
}
.article-link{
    font-size: 25px;
    line-height: 1.5;
}

#footer{
    padding: 4%;
    text-align: center;
}
.footer-icon{
    padding-right: 1%;
} 
@media only screen and (max-width:700px){
  body{
        
        width:200%;
    } 
    .container-fluid{
      width: 100%;
    }
    .articles{
        padding-right: 10px;
    }
    
    
}  */